// @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap');

:root {
    font-size: 14px;
    --small-breakpoint: 640px;
    overflow-x: hidden;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Space Grotesk', sans-serif;
    background: rgb(240,240,240);
    // scale: 0.8
}

.section1 {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;

    .column-text-outer {
        overflow: hidden;
        .column-text-inner {
            translate: 0 100%;

            h1 {
                font-size: 30px;
                margin: 0;
            }
        }
    }

    h1 {
        font-size: 72px;
        margin: 20px 0;
        text-transform: uppercase;
    }
}

p, h1, h2, h3, h4, h5, h6 {margin: 0; padding: 0;}

.section2 {
    height: 120%;
    background: rgb(240,210,220);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    p {
        text-transform: uppcase;
        margin: 10px 0;

        &:nth-child(2) {margin-bottom: 20px;}
    }
    button {
        all: unset;
        background-color: black;
        padding: 16px 24px;
        color: white;
        border-radius: 16px;
    }
    
    
}

.panel-container {
    position: relative;
    background: rgba(0,0,0,0.4);
    .inner-panel {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        padding: 56px;
        box-sizing: border-box;
        width: 100%;
        height: 100vh;
        height: 100svh;
        color: white;
        display: flex;
        flex-flow: column nowrap;
        
        @media screen and (max-width: 640px) {
            padding: 35px;
        }

        .heading {
            max-width: 70%;
            
            h1 {
                font-size: 7.1875rem;
            }
            h2 {
                translate: 2px;
                font-size: 1.5rem;
            }
    
            @media screen and (max-width: 640px) {
                h1 {font-size: 2.6875rem}
                h2 {font-size: .875rem}
            }
        }
    
        .card-container {
            flex: auto;
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
            overflow: hidden;
            box-sizing: border-box;
            padding-top: 1.5rem;
        
            @media screen and (max-width: 640px) {
                flex-flow: column nowrap;
                padding-top: 0;

                .left {
                    align-items: center;
                    
                    .progress-container {
                        width: 100%;
                        // padding: 20px 0;
                        box-sizing: border-box;
                        
                        .progress-bar-wrapper {
                            margin: 20px 0;
                        }
                    }
                }
                div.right {
                    width: 100%;
                    
                    .text-container {
                        padding: 0;
                        .subheading {font-size: .875rem}
                        .title {font-size: 2.25rem;}
                        .text {font-size: 1.125rem;}
                        ul {
                            li {font-size: .875rem;}
                        }
                    }
                }
            }
    
            .left {
                flex: 32.5%;
                display: flex;
                align-items: flex-start;
        
                .progress-container {
                    display: flex;
                    flex-flow: column nowrap;
                    align-items: center;
                    height: 100%;
                    // flex: ;
    
                    .number-wrapper {
                        overflow: hidden;
                        height: 235px;
                        
                        .number {
                            font-size: 11.2rem;
                            margin: 0;
                            padding: 0;
                            // border: 1px solid black;
                        }
                    }
        
    
                    .progress-bar-wrapper {
                        // margin-top: 40px;
                        position: relative;
                        flex: auto;
    
                        .progress-bar, .progress-bar-active {
                            width: 5px;
                            height: 100%;
                            position: absolute;
                            left: calc(50% - 2px);
                            top: 0;
                        }
                        .progress-bar {background: rgb(100,100,100);}
                        .progress-bar-active {background: white; height: 0%;}
                    }
                }
            }
        
            .right {
                flex: 67.5%;
                box-sizing: border-box;
                // text-align: justify;
                position: relative;
                
                .text-container {
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 0;
                    transition: opacity 0.2s;
                    font-size: 18px;
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: space-between;
                    height: 100%;
                    box-sizing: border-box;
                    padding-top: 1rem;
    
                    .subheading {
                        font-weight: 300;
                        font-size: 1.5rem;
                        text-transform: uppercase;
                    }
                    .title {
                        font-size: 4rem;
                        font-weight: 500;
                        margin: 0;
                    }
                    .text {
                        font-size: 1.5rem;
                    }
                    ul {
                        display: flex;
                        flex-flow: column nowrap;
                        gap: 1rem;
                        li {
                            font-size: 1.875rem
                        }
                    }
                }
            }
    
            @media screen and (max-width: 970px) {
                .left .progress-container .number-wrapper {
                    height: 98px;
                    .number {
                        font-size: 72px;
                    }
                }
                .right {
                    .text-container {
                        padding: 20px;
                    }
                }
            }
        }
    }
    section{
        position: relative;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    
        .bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            background-size: cover;
            // background-position: center;
            background-repeat: no-repeat;
          }
      }
}

.sliding-banner {
    height: 100%;
    padding: 56px;

    @media (max-width: 640px) {
        padding: 35px;
    }

    .card-header__title {
        font-size: clamp(2rem, 1rem + 5vw, 5rem);
        line-height: clamp(2rem, 1rem + 5vw, 5rem);
        width: clamp(14rem, 5vw, 30rem);
        text-align: left;
    }

    .card-header__subtitle {
        font-size: clamp(0.75rem, 0.5rem + 1.25vw, 1.5rem);
        line-height: clamp(1.125rem, 1rem + 0.625vw, 1.5rem);
        width: clamp(20rem, 13.8776rem + 27.2109vw, 40rem);
        text-align: left;
        font-weight: 300;
    }

    .font-light {
        font-weight: 300;
    }
    
    .step-header__number {
        font-size: clamp(2.40431rem, 1.4859rem + 4.0816vw, 5.40431rem);
        line-height: clamp(4.74769rem, 3.8293rem + 4.0816vw, 7.74769rem);
        text-align: left;

        @media (max-width: 640px) {
            font-size: clamp(1.40431rem, 1.4859rem + 2.0816vw, 2.70431rem);
            line-height: clamp(4.74769rem, 3.8293rem + 4.0816vw, 7.74769rem);
        }
    }

    .card-footer__title {
        font-size: clamp(1.125rem, 0.7917rem + 1.6667vw, 2.125rem);
        line-height: clamp(2.1875rem, 1.1875rem + 5vw, 5.1875rem);
        text-align: left;
        font-weight: 500;
    }

    .card-footer-description {
        font-size: clamp(0.75rem, 0.5rem + 1.25vw, 1.5rem);
        line-height: clamp(1.125rem, 1rem + 0.625vw, 1.5rem);
        width: auto;
        text-align: left;
        font-weight: 300;

        @media (min-width: 1280px) {
            width: clamp(21rem,14.5714rem + 28.5714vw,42rem);
        }
    }

    .button--1 {
        font-size: calc(var(--clamped-font-size) * 1);
        // width: calc(var(--clumped-width) * 1);
        height: calc(var(--clamped-height) * 1);
        padding: 0 40px;

        @media (max-width: 640px) {
            height: 65px !important;
            width: 100%;
            font-size: 1.25rem !important;
        }
    }

    .button {
        --clamped-font-size: clamp(0.5rem,0.1667rem + 1.6667vw,1.5rem);
        --clumped-width: clamp(6.5625rem,3.2292rem + 16.6667vw,16.5625rem);
        --clamped-height: clamp(1.25rem,0.4167rem + 4.1667vw,3.75rem);
        font-size: var(--clamped-font-size);
        // width: var(--clumped-width);
        height: var(--clamped-height);
        align-self: flex-start;
        border-radius: 9999px;
        --tw-bg-opacity: 1;
        background-color: rgb(43 43 43/var(--tw-bg-opacity));
        text-align: center;
        --tw-text-opacity: 1;
        color: rgb(255 255 255/var(--tw-text-opacity));
    }

    .progress {
        width: 100%;
        position: relative;

        .progress-active, .progress-inactive {
            position: absolute;
            top: 0;
            left: 0;
            height: 4px;
            width: 100%;
            border-radius: 4px;
        }
        .progress-inactive {background: rgb(200, 200, 200)}
        .progress-active {background: rgb(0, 0, 0); width: 0%;}
    }

    .slider-text-container {
        position: relative; 
        height: 100%; 
        align-items: flex-end;

        .slider-text {
            position: absolute; 
            bottom: 0; 
            left: 0; 
            opacity: 0;
            min-width: 40vw;

            
            @media (max-width: 640px) {
                bottom: 65px;
            }
        }
    }

    // .counter {
    //     width: 100%;
    //     display: flex;
    //     flex-flow: column nowrap;
    //     gap: 0.5rem;

    //     .numbers {
    //         display: flex;
    //         flex-flow: row nowrap;
    //         gap: 3.5rem;

    //         .number-container {
    //             .name {
    //                 font-size: 0.75rem;
    //             }
    //             .number {
    //                 font-size: clamp(2.40431rem, 1.4859rem + 4.0816vw, 5.40431rem);
    //                 line-height: clamp(4.74769rem, 3.8293rem + 4.0816vw, 7.74769rem);
    //                 text-align: left;
    //                 font-weight: 300;
    //             }
    //         }
    //     }
    // }
    .registrate {
        display: flex;
        justify-content: space-between;
        h2 {
            font-size: clamp(1.125rem, 0.7917rem + 1.6667vw, 2.125rem);
            line-height: clamp(2.1875rem, 1.1875rem + 5vw, 5.1875rem);
            text-align: left;
            font-weight: 500;
        }
        p {
            font-size: clamp(0.75rem, 0.5rem + 1.25vw, 1.5rem);
            line-height: clamp(1.125rem, 1rem + 0.625vw, 1.5rem);
            width: auto;
            text-align: left;
            font-weight: 300;
        }

        
    }
}
